<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Instimatch Registeration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/login_register.css">
    <link rel="stylesheet" href="css/material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body class="instibg">
    <!-- Wrapper for the Whole Application -->
    <div id="wrapper">

        <!-- Header Starts Here -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="instimatch-logo">
                            <img alt="Insimatch Logo" src="images/instimatch-logo.jpg">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <ul class="in-lang text-right">
                            <li class="active">
                                <a href="#">EN</a>
                            </li>
                            <li>
                                <a href="#">FR</a>
                            </li>
                            <li>
                                <a href="#">DE</a>
                            </li>
                            <li class="in-header-user text-right">
                                <a href="#">
                                    <i class="material-icons whitebg"> supervisor_account </i>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </header>
        <!-- Header Ends Here -->

        <div class="container gutter">
            <div class="row row-eq-height eqwrap">
                <section id="step1-reg" class="in-register col-lg-4 col-md-12">
                    <div class="in-register-form">
                        <h2 class="text-left">Register</h2>
                        <form class="register-form">

                            <div id="radiogroup " class="fiftypercent">

                                <div class="md-radio md-radio-inline ">
                                    <input id="3" type="radio" name="g2" checked> Bank
                                    <label for="3"></label>
                                </div>
                                <div class="md-radio md-radio-inline">
                                    <input id="4" type="radio" name="g2"> Non-Bank
                                    <label for="4"> </label>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="text" autofocus>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Bank Name</label>
                                    <span class="input-group-icon">
                    <i class="material-icons">account_circle</i>
                  </span>

                                </div>
                            </div>

                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Address</label>
                                    <span class="input-group-icon">
                    <i class="material-icons">home</i>
                  </span>

                                </div>
                            </div>


                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Zip Code</label>


                                </div>
                            </div>

                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>City</label>


                                </div>
                            </div>

                            <div class="form-group form-md-line-input has-error">
                                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                                    <label>Country</label>
                                    <select class="mdl-selectfield__select" name="userCountry" id="userCountry"><span class="input-group-icon"><i class="material-icons">expand_more</i></span>
                                        <option value="" disabled selected>Country</option>
                                        <option value="country1">US</option>
                                        <option value="country2">Canada</option>
                                        <option value="country3">Australia</option>
                                        <option value="country4">India</option>
                                     </select>
                                </div>

                            </div>

                            <div class="form-group form-md-line-input">
                                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                                    <select class="mdl-selectfield__select" id="preferredLanguage" name="preferredLanguage">
                                    <option value="" disabled selected> Language</option>
                                    <option value="DE"> DE</option>
                                    <option value="FR"> FR</option>
                                    <option value="EN"> EN</option>
                                  </select>
                                </div>
                            </div>

                            <div class="login-margin"></div>
                            <button type="button" class="button btn">
                                <div class="ripples buttonRipples" id="next-reg-2">
                                    <span class="ripplesCircle"></span>
                                </div>
                            Next
                                <i class="material-icons">
                                    keyboard_arrow_right
                                </i>
                            </button>
                            <!-- <button >animation target</button> -->

                        </form>
                        <div class="form-circles text-center">
                            <a href="" class="dot active"></a>
                            <a href="" class="dot"></a>

                            <a href="" class="dot"></a>
                        </div>
                    </div>

                </section>



                <section id="step2-reg" class="in-register  col-lg-4 col-md-4 col-sm-12">
                    <div class="in-register-form">
                        <form class="register-form">




                            <div id="goback">
                                <span>
                  <i class="material-icons">arrow_back</i>
                </span>
                            </div>


                            <!-- <mat-form-field class="col-sm-12"> -->


                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>First Name</label>
                                    <span class="input-group-icon">
                    <i class="material-icons">account_circle</i>
                  </span>

                                </div>
                            </div>

                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Last Name</label>
                                    <span class="input-group-icon">
                    <i class="material-icons">account_circle</i>
                  </span>

                                </div>
                            </div>


                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Create Username</label>
                                    <span class="input-group-icon">
                    <i class="material-icons">mode_edit</i>
                  </span>

                                </div>
                            </div>

                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="number">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Contact Number</label>
                                    <span class="input-group-icon">
                    <i class="material-icons">phone</i>
                  </span>

                                </div>
                            </div>

                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="email">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Email Address</label>
                                    <span class="input-group-icon">
                    <i class="material-icons">email</i>
                  </span>

                                </div>
                            </div>


                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="email">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Confirm Email</label>
                                    <span class="input-group-icon">
                    <i class="material-icons">email</i>
                  </span>

                                </div>
                            </div>
                            <div class="login-margin"></div>
                            <button type="button" class="button btn" id="next-reg-3">
                <div class="ripples buttonRipples">
                  <span class="ripplesCircle"></span>
                </div>
                Next
                <i class="material-icons">
                  keyboard_arrow_right
                </i>
              </button>
                            <!-- <button >animation target</button> -->

                        </form>
                        <div class="form-circles text-center">
                            <a href="" class="dot"></a>
                            <a href="" class="dot active"></a>

                            <a href="" class="dot"></a>
                        </div>
                    </div>

                </section>



                <section class="in-register col-lg-4 col-md-4 col-sm-12" id="step3-reg">
                    <div class="in-register-form">
                        <form class="register-form">




                            <div id="goback">
                                <span>
                  <i class="material-icons">arrow_back</i>
                </span>
                            </div>


                            <!-- <mat-form-field class="col-sm-12"> -->


                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Long Term Rating Agency</label>
                                    <span class="input-group-icon">
                    <i class="material-icons">user</i>
                  </span>

                                </div>
                            </div>

                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Long Term Rating</label>
                                    <span class="input-group-icon">
                    <i class="material-icons">trending_up
                    </i>
                  </span>

                                </div>
                            </div>


                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Short Term Rating Agency</label>
                                    <span class="input-group-icon">
                    <i class="material-icons">pincode</i>
                  </span>

                                </div>
                            </div>

                            <div class="form-group form-md-line-input has-error">
                                <div class="group input-group">
                                    <input type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Short Term Rating</label>
                                    <span class="input-group-icon">
                                        <i class="material-icons">trending_up
                                        </i>
                                      </span>

                                </div>
                            </div>
                            <div class="in-ad-access">
                                <h6>Request Additional Access</h6>

                                <div class="d-flex align-items-end flex-column">


                                    <p>
                                        <input id="cbx1" type="checkbox" class="cbx" />
                                        <label for="cbx1" class="lbl"> Promissary Notes Lender On</label>
                                    </p>
                                    <p>
                                        <input id="cbx2" type="checkbox" class="cbx" />
                                        <label for="cbx2" class="lbl"> Promissary Notes Borrower: </label>
                                    </p>
                                    <p>
                                        <input id="cbx2" type="checkbox" class="cbx" />
                                        <label for="cbx2" class="lbl"> Money Market : </label>
                                    </p>

                                    <p>
                                        <input id="cbx3" type="checkbox" class="cbx" />
                                        <label for="cbx3" class="lbl"> I accept the Terms and Condtions</label>
                                    </p>

                                </div>
                            </div>

                            <div class="login-margin"></div>
                            <button type="button" class="button btn">
                <div class="ripples buttonRipples">
                  <span class="ripplesCircle"></span>
                </div>
                Next
                <i class="material-icons">
                  keyboard_arrow_right
                </i>
              </button>
                            <!-- <button >animation target</button> -->

                        </form>
                        <div class="form-circles text-center">
                            <a href="" class="dot"></a>
                            <a href="" class="dot"></a>

                            <a href="" class="dot active"></a>
                        </div>
                    </div>

                </section>

            </div>
        </div>

        <!-- Login Page Content-->

    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>

</body>

</html>