.text-black {
    color: #000000;
}
.bg-black {
    background-color: #000000;
}
.text-white {
    color: #ffffff;
}
.cursorPointer {
    cursor: pointer;
}
.table-responsive {
    max-height: 500px;
    overflow: auto;
}
/* .color-black{
	height: auto;
	min-height: calc(100vh - 35vh);
} */
#printablediv
{
  width:100%;height:auto;
}