.Trade-Book {
  background-color: #3498db !important;
  color: #fff;
  height: 50px;
  margin-bottom: 10px;
  margin-left: 14px;
  text-align: center;
  width: 94%;
}
.Open-Orders {
  background-color: #1abc9c;
  color: #fff;
  height: 40px;
  margin: 0 14px 10px;
  padding-top: 0;
  text-align: center;
}
#requestsButton {
  margin: 12px 3px;
}
.bid-button
{
    height:63px;
    background-color:#ff0000;
    text-align:center;
    color:#fff;
    font-size:20px;
    padding-top:13px;
}

.bid-Pop {
  bottom: 0;
  display: none;
  left: 0;
  margin: 0 auto;
  outline: 0 none;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 79px;
  width: 47%;
  z-index: 1050;
}
.bid-header
{
    padding-left:0px !important;
    padding-right:0px !important;
}
.offer-list
{
    height:200px;
    margin-bottom:10%;
}
